
# Python
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/
*.log
.env
.venv/
venv/

# Archives
*.zip
*.tar.gz
*.rar
*.7z
*.gz


# Temporary files
tmp/
temp/


# Composed should-be-ignored extensions
*.jpg
*.png
*.pt
*.txt
*.DS_Store
*.cache
*.csv